.road {
    width: 100%;
    height: 300px;
    background: #222;
    position: relative;
    overflow: hidden;
}

.ball {
    width: 80px;
    height: 80px;
    background: orange;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        bottom: 0; 
    }
    50% {
        bottom: 200px; 
    }
}